### Java template
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Directory-based project format:
lib/
# if you remove the above rule, at least ignore the following:

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/build/
/.gradle/

# Created by .ignore support plugin (hsz.mobi)
